<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Activo Corporativo</title>
</head>
<body>

  <app-inicio></app-inicio>

  <form [formGroup]="formularioRegistro">
    <ng-template #content let-c="close" let-d="dismiss" >

      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Formulario Activo Celular</h4>
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

          <div class="form-group">
            <div class="row">
          <div class="col-sm-6">
            <label style="color:black" for="apellido">IMEI</label>
          <input
            type="number"
            name="imei"
            id="imei"
            class="form-control"
            formControlName="imei"
            required
          />
        </div>
        <div class="col-sm-6">
          <label style="color:black" for="nomber">Marca</label>
        <input
          type="text"
          name="marca"
          id="marca"
          class="form-control"
          formControlName="marca"
          required
        />
      </div>
        </div>
          </div>

          <div class="form-group">
            <div class="row">
          <div class="col-sm-6">
            <label style="color:black" for="telefono">Modelo</label>
          <input
            type="text"
            name="modelo"
            id="modelo"
            class="form-control"
            formControlName="modelo"
            required
          />
        </div>
        <div class="col-sm-6">
          <label style="color:black" for="nomber">Estado</label>
          <select name="" id="" class="form-control" formControlName="estado">
            <option value="">Seleccione un Estado</option>
            <option value="Entregado">Entregado</option>
            <option value="Reservado">Reservado</option>
            <option value="Innecesario">Innecesario</option>
            <option value="Scrap">Scrap</option>
            <option value="Operativo">Operativo</option>
            <option value="RMA">RMA</option>
          </select>
      </div>
        </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success"  [hidden]="btnGuardar" (click)="registrarActivoCelular()" >Guardar</button>
        <button type="button"  class="btn btn-outline-warning"  [hidden]="btnEditar" (click)="editarActivoCelular()">Editar</button>
        <button type="reset"  class="btn btn-outline-danger"  (click)="cancelar()" >Limpiar</button>
      </div>
    </ng-template>
  </form>

  <div class="container-fluid" id="contenedorTabla">
    <h6 align="center" style="color: aliceblue;" >CELULARES</h6>
    <hr>
    <div class="btn-group">
      <button class="btn btn-outline-primary" (click)="open(content)" style="margin-right: 5px;" >Registrar</button>
      <button class="btn btn-outline-primary"  (click)="busquedaActivo()" style="margin-right: 5px;" >Buscar</button>
      <input type="text" placeholder="N° IMEI"
        class="form-control" [(ngModel)]="buscar_activo">
        <button class="btn btn-outline-danger"  style="margin-left: 5px;" (click)="cancelarbusquedaActivo()" >Cancelar</button>
    </div>



<table class="table table-sm table-dark table-bordered table-striped table-responsive w-100 d-block d-md-table">

    <thead class="thead-light">

        <tr class="text-center" style="color:black">
            <th   scope="col">IMEI</th>
            <th   scope="col">Marca</th>
            <th   scope="col">Modelo</th>
            <th   scope="col">Estado</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>
        <tr class="text-center"*ngFor="let activo of listadoActivoCelular | paginate: { itemsPerPage: 10, currentPage: p }" >
            <td scope="row">{{activo.imei}}</td>
            <td scope="row">{{activo.marca}}</td>
            <td scope="row">{{activo.modelo}}</td>
            <td scope="row">{{activo.estado}}</td>
            <td scope="">
                <button class="btn btn-outline-warning" (click)="ActivoCelularId(activo,content)">Editar</button>
                <button class="btn btn-outline-danger"  (click)="eliminarActivoCelular(activo)">Eliminar</button>
            </td>

        </tr>
    </tbody>

</table>
<pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
</div>

</body>
</html>
