<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Activos Industrial</title>
</head>
<body>
<app-inicio></app-inicio>
<form  [formGroup]="formularioRegistro" (submit)="registrarActivos()">
    <ng-template #content let-c="close" let-d="dismiss" >

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Formulario Activo Industrial</h4>
          <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

       

<select data-live-search="true" data-live-search-style="startsWith" class="selectpicker">
  <option value="4444">4444</option>
  <option value="Fedex">Fedex</option>
  <option value="Elite">Elite</option>
  <option value="Interp">Interp</option>
  <option value="Test">Test</option>
</select>

        <div class="modal-body">
            <div class="form-group">
              <div class="row">
              <div class="col-sm-6">
                <label style="color:black" for="nomber">Inventario</label>
              <input
                type="number"
                name="inventario"
                id="inventario"
                class="form-control"
                formControlName="inventario"
                required
              />
            </div>
            <div class="col-sm-6">
              <label style="color:black" for="nomber">Marca</label>
            <input
              type="text"
              name="marca"
              id="marca"
              class="form-control"
              formControlName="marca"
              required
            />
          </div>
            <div class="col-sm-6">
              <label style="color:black" for="telefono">Modelo</label>
            <input
              type="text"
              name="modelo"
              id="modelo"
              class="form-control"
              formControlName="modelo"
              required
            />
          </div>
          <div class="col-sm-6">
            <label style="color:black" for="nomber">Estado</label>
            <select name="" id="" class="form-control" formControlName="estado" required>
              <option value="">Seleccione un Estado</option>
              <option value="Entregado">Entregado</option>
              <option value="Reservado">Reservado</option>
              <option value="Innecesario">Innecesario</option>
              <option value="Scrap">Scrap</option>
              <option value="Operativo">Operativo</option>
              <option value="RMA">RMA</option>
            </select>
        </div>
          </div>

              <div class="row">
              <div class="col-sm-6">
                <label style="color:black" for="nomber">Serie </label>
              <input
                type="text"
                name="serie"
                id="serie"
                class="form-control"
                formControlName="serie"
                required
              />
            </div>
            <div class="col-sm-6">
              <label style="color:black" for="nomber">Hostname</label>
            <input
              type="text"
              name="hostname"
              id="hostname"
              class="form-control"
              formControlName="hostname"
              required
            />
          </div>
          </div>

              <div class="row">
            <div class="col-sm-6">
              <label style="color:black" for="nomber">DPI</label>
            <input
              type="number"
              name="dpi"
              id="dpi"
              class="form-control"
              formControlName="dpi"
              required
            />
          </div>
          <div class="col-sm-6">
            <label style="color:black" for="nomber">IP</label>
          <input
            type="text"
            name="ip"
            id="ip"
            class="form-control"
            formControlName="ip"
          />
        </div>
          </div>
        <div class="row">

      <div class="col-sm-6">
        <label style="color:black" for="apellido">Descripcion</label>
      <input
        type="text"
        name="descripcion"
        id="descripcion"
        class="form-control"
        formControlName="descripcion"
        required
      />
    </div>

    </div>
    </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success"  [hidden]="btnGuardar" (click)="registrarActivos()" >Guardar</button>
          <button type="button"  class="btn btn-outline-warning"  [hidden]="btnEditar" (click)="editarActivoId()">Editar</button>
          <button type="reset"  class="btn btn-outline-danger"  (click)="cancelar()" >Limpiar</button>
        </div>
      </ng-template>

</form>


    <div class="container-fluid" id="contenedorTabla">
      
        <h4 align="center" style="color: aliceblue;" >INDUSTRIALES</h4>
        <hr>
        <div class="btn-group">
          <button class="btn btn-outline-primary" (click)="open(content)" style="margin-right: 5px;" >Registrar</button>
          <button class="btn btn-outline-primary"  (click)="busquedaActivo()" style="margin-right: 5px;" >Buscar</button>
          <input type="text" placeholder="N° Inventario" (change)="p=1"
            class="form-control" [(ngModel)]="buscar_activo">
            <button class="btn btn-outline-danger"  style="margin-left: 5px;" (click)="cancelarbusquedaActivo()" >Cancelar</button>
        </div>



    <table class="table table-sm table-dark table-bordered table-striped table-responsive w-100 d-block d-md-table">

        <thead class="thead-light">

            <tr class="text-center">
                <th scope="col">ID</th>
                <th   scope="col">Inventario</th>
                <th   scope="col">Descripcion</th>
                <th   scope="col">Marca</th>
                <th   scope="col">Modelo</th>
                <th   scope="col">Serie</th>
                <th   scope="col">Hostname</th>
                <th   scope="col">Estado</th>
                <th   scope="col">DPI</th>
                <th   scope="col">IP</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody>
            <tr class="text-center"*ngFor="let activo of listadoActivos | paginate: { itemsPerPage: 17, currentPage: p  }" >
                <td scope="row">{{activo.id}}</td>
                <td scope="row">{{activo.inventario}}</td>
                <td scope="row">{{activo.descripcion}}</td>
                <td scope="row">{{activo.marca}}</td>
                <td scope="row">{{activo.modelo}}</td>
                <td scope="row">{{activo.serie}}</td>
                <td scope="row">{{activo.hostname}}</td>
                <td scope="row">{{activo.estado}}</td>
                <td scope="row">{{activo.dpi}}</td>
                <td scope="row">{{activo.ip}}</td>
                <td scope="">
                    <a (click)="ActivoId(activo,content)"><mat-icon style="color:skyblue ; margin-right:15px;"> edit </mat-icon></a>
                    <a (click)="eliminarActivo(activo)"><mat-icon style="color:red ; "> delete </mat-icon></a>
                </td>

            </tr>
        </tbody>

    </table>
    <pagination-controls style="color:white;" (pageChange)="p = $event" class="my-pagination"></pagination-controls>
</div>
</body>
</html>

