body{
    background-image: url(../../../../assets/fondo_mirgor.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;

}

.modal-xl {
    max-width: 1000px;
  }
