<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trazabilidad</title>
</head>
<body>
  <app-inicio></app-inicio>
<!----

<div class="container-fluid" id="contenedorTabla" *ngIf="TablaNoProductiva_Filtro">
  <legend align="center"  style="color: aliceblue;" >TRAZABILIDAD NO PRODUCTIVA</legend>
      <div class="btn-group">
        <button class="btn btn-outline-primary"   style="margin-right: 5px;" >Buscar</button>
          <button class="btn btn-outline-danger"   style="margin-left: 5px;"  >Cancelar</button>
      </div>

      <input type="text" class="form-control" name="LocacionFiltro" placeholder="Search..." >


<table class="table table-sm table-dark table-bordered table-striped table-responsive w-100 d-block d-md-table">

  <thead class="thead-light">

      <tr class="text-center" style="color:black">
          <th scope="col">Inventario/Marca</th>
          <th scope="col">Unidad Negocio</th>
          <th scope="col">Nave</th>
          <th scope="col">Sitio</th>
          <th scope="col">Area</th>
          <th scope="col">Localizacion</th>
          <th scope="col">Fecha</th>
      </tr>
  </thead>
  <tbody>
      <tr class="text-center" *ngFor="let trazabilidad of listadoTrazabilidad  | paginate: { itemsPerPage: 10, currentPage: p }">

        <td><ul>
          <li>
            {{trazabilidad.locacion.activo_industrial.inventario}}
          </li>
          <li>
            {{trazabilidad.locacion.activo_industrial.marca}}
          </li>
        </ul>
      </td>
      <td>{{trazabilidad.unidad_negocio}}</td>
        <td>{{trazabilidad.nave}}</td>
        <td>{{trazabilidad.sitio}}</td>
        <td>{{trazabilidad.area}}</td>
        <td>{{trazabilidad.localizacion}}</td>
        <td>{{trazabilidad.fecha}}</td>

      </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
</div>

<div class="container-fluid" id="contenedorTabla" *ngIf="TablaProductiva_Filtro">
  <legend align="center"  style="color: aliceblue;" >TRAZABILIDAD PRODUCTIVA</legend>
      <div class="btn-group">
        <button class="btn btn-outline-primary"   style="margin-right: 5px;" >Buscar</button>
          <button class="btn btn-outline-danger"   style="margin-left: 5px;"  >Cancelar</button>
      </div>

      <input type="text" class="form-control" name="LocacionFiltro" placeholder="Search..." >


<table class="table table-sm table-dark table-bordered table-striped table-responsive w-100 d-block d-md-table">

  <thead class="thead-light">

      <tr class="text-center">
          <th scope="col">Inventario/Marca</th>
          <th scope="col">Sitio</th>
          <th scope="col">Linea</th>
          <th scope="col">Puesto</th>
          <th scope="col">Fecha</th>
      </tr>
  </thead>
  <tbody>
      <tr class="text-center" *ngFor="let trazabilidad of listadoTrazabilidad  | paginate: { itemsPerPage: 10, currentPage: p }">


      </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
</div>

!-->

</body>
</html>
