<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Usuario</title>
</head>
<body>
<app-inicio></app-inicio>


<form [formGroup]="formularioRegistro">

  <ng-template #content let-c="close" let-d="dismiss" >

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Formulario Usuario</h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-sm-6" >
          <label style="color:black" for="activo">Celular</label>
          <ng-multiselect-dropdown
          [placeholder]="'Seleccione inventario Celular'"
          [settings]="dropdownSettings"
          [data]="listadoActivoCelular"
          formControlName="activo_celular"
          >

        </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-6" >
          <label style="color:black" for="activo">Linea Telefonica</label>
          <ng-multiselect-dropdown
          [placeholder]="'Seleccione Linea Telefonica'"
          [settings]="dropdownSettingsLineaTelefonica"
          [data]="listadoLineaTelefonica"
          formControlName="linea_telefonica"
          >

        </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-6" >
          <label style="color:black" for="activo">Notebook</label>
          <ng-multiselect-dropdown
          [placeholder]="'Seleccione inventario Notebook'"
          [settings]="dropdownSettingsNotebook"
          [data]="listadoActivoNotebook"
          formControlName="activo_notebook"

        >
        </ng-multiselect-dropdown>
        </div>
          <div class="col-sm-6">
            <label style="color:black" for="nombre">Legajo</label>
          <input
            type="number"
            name="legajo"
            id="legajo"
            class="form-control"
            formControlName="legajo"
            required
          />
        </div>

        <div class="col-sm-6">
          <label style="color:black" for="nombre">Nombre</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          class="form-control"
          formControlName="nombre"
          required
        />
      </div>

          <div class="col-sm-6">
          <label style="color:black" for="apellido">Correo</label>
          <input
            type="text"
            name="correo"
            id="correo"
            class="form-control"
            formControlName="correo"
            required
          />
      </div>

          <div class="col-sm-6">
            <label style="color:black" for="nomber">Area</label>
          <input
            type="text"
            name="area"
            id="area"
            class="form-control"
            formControlName="area"
            required
          />
          </div>

          <div class="col-sm-6">
            <label style="color:black" for="telefono">Posicion</label>
          <input
            type="text"
            name="posicion"
            id="posicion"
            class="form-control"
            formControlName="posicion"
            required
          />
        </div>
        <div class="col-sm-6">
          <label style="color:black" for="fecha_entrega">Fecha Entrega</label>
        <input
          type="date"
          name="fecha_entrega"
          id="fecha_entrega"
          class="form-control"
          formControlName="fecha_entrega"
          required
        />
      </div>
      </div>

  </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success"  [hidden]="btnGuardar" (click)="registrarUsuario()" >Guardar</button>
      <button type="button"  class="btn btn-outline-warning"  [hidden]="btnEditar" (click)="editarUsuarioId()">Editar</button>
      <button type="reset"  class="btn btn-outline-danger"  (click)="cancelar()" >Limpiar</button>
    </div>
  </ng-template>

</form>

<div class="container-fluid" id="contenedorTabla">
  <h4 align="center" style="color: aliceblue;" >USUARIOS</h4>
  <hr>
  <div class="btn-group">
    <button class="btn btn-outline-primary" (click)="open(content)" style="margin-right: 5px;" >Registrar</button>
    <button class="btn btn-outline-primary" (click)="busquedaUsuario()"   style="margin-right: 5px;" >Buscar</button>
    <input type="text" placeholder="Nombre" (change)="p=1"
      class="form-control" [(ngModel)]="buscar_usuario">
      <button class="btn btn-outline-danger" (click)="cancelarbusquedaUsuario()" style="margin-left: 5px;" >Cancelar</button>
  </div>



<table class="table table-sm table-dark table-bordered table-striped table-responsive w-100 d-block d-md-table">

  <thead class="thead-light">

      <tr class="text-center" >
          <th scope="col">ID</th>
          <th scope="col">Legajo</th>
          <th scope="col">Celular</th>
          <th scope="col">Notebook</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Area</th>
          <th scope="col">Posicion</th>
          <th scope="col">Fecha Entrega</th>
          <th scope="col">Linea Tel.</th>
          <th scope="col">Acciones</th>

      </tr>
  </thead>
  <tbody>
      <tr class="text-center"*ngFor="let usuario of listadoUsuario | paginate: { itemsPerPage: 7, currentPage: p }" >
        <td scope="row">{{usuario.id}}</td>
        <th scope="row">{{usuario.legajo}}</th>
          <th scope="row"  *ngIf="usuario.activo_celular != null">
            <ul>
              <li>{{usuario.activo_celular.imei}}</li>
              <li>{{usuario.activo_celular.marca}}</li>
              <li>{{usuario.activo_celular.modelo}}</li>

            </ul>
          </th>
          <th scope="row" *ngIf="usuario.activo_celular == null">
           N/A
          </th>

          <th scope="row"  *ngIf="usuario.activo_notebook != null">
            <ul>
              <li>{{usuario.activo_notebook.inventario}}</li>
              <li>{{usuario.activo_notebook.marca}}</li>
              <li>{{usuario.activo_notebook.modelo}}</li>
            </ul>

          </th>
          <th scope="row" *ngIf="usuario.activo_notebook == null">
            N/A
          </th>
          <td scope="row">{{usuario.nombre}}</td>
          <td scope="row">{{usuario.correo}}</td>
          <td scope="row">{{usuario.area}}</td>
          <td scope="row">{{usuario.posicion}}</td>
          <td scope="row">{{usuario.fecha_entrega}}</td>
          <td scope="row" *ngIf="usuario.linea_telefonica ==null">N/A</td>
          <td scope="row" *ngIf="usuario.linea_telefonica !=null">{{usuario.linea_telefonica.numero}}</td>
          <td scope="">
              <button class="btn btn-outline-warning" (click)="UsuarioId(usuario,content)">Editar</button>
              <button class="btn btn-outline-danger"  (click)="eliminarUsuario(usuario)">Eliminar</button>
          </td>

      </tr>
  </tbody>

</table>
<pagination-controls style="color:white;" (pageChange)="p = $event" class="my-pagination"></pagination-controls>
</div>


</body>
</html>
